body{
background-color: rgb(37, 201, 149);
font-family: 'Ubuntu', sans-serif;
}
#score{
font-size: 24px;
margin-right: 8px;
float:left;
}
#time{
font-size: 24px;
float:right;
margin-left:8px;
margin-right:8px;
}
.itemguess{
color:blueviolet;
}
.itemguessp{
color:darkmagenta;
}
h1, .show_sketch{
display:inline-block;
background-color: white;
width:100%;
display:flex;
justify-content: space-between;
align-items: center;
margin:0 auto;
}
.container{
position: relative;
margin:8px;
}
.left{
position: absolute;
left:0;
margin-left:4px;
}
.right{
position:absolute;
right:0;
margin-right:8px;
}
p{
    font-size: 24px;
}
#itemgivep{
color:red;
}
canvas{
border-radius: 16px;
box-shadow: 3px 3px 3px white;
animation-name:sixtynineomen;
animation-duration: 4s;
animation-iteration-count: infinite;
border:white 4px solid;
}
@keyframes sixtynineomen{
from{
box-shadow: 1px 1px 600px rgb(255, 255, 255);
}
to{
box-shadow: 1px 1px 600px rgb(136, 136, 136);
}
}
